
body{
  background-color: #bfd5fc !important;
}

/* .navbar > h1{
  padding-left: 100px !important;

} */

.navbar{
  font-family: 'Lobster', cursive;
  background-color:rgb(38, 34, 38);
}

.brand1{
  padding-left: 15px;
}

.brand2{
  margin-left: auto;
}
.brand3{
  margin-left: 20px !important;
  margin-right: 60px !important;
}
.brand2, .brand3{
  font-size: 26px !important;

}
.brand1, .brand2, .brand3{
  color: whitesmoke !important;
}

.brand1:hover, .brand2:hover, .brand3:hover{
  color:rgb(92, 92, 212) !important;
}
.container{
  /* padding-left: 24% !important;
  padding-right: 24% !important; */
  padding-top: 60px;
  font-size: larger;
  /* float: left; */
  width: 50% !important;
    word-wrap: break-word;
  
}
.idkman{
  font-family: 'Bebas Neue', cursive;

}

.form-control{
  margin-bottom: 12px;
}

.home_image{
  height: 300px;
  width: 440px;
  border-radius: 25px;
  margin-right: 100px;

}

.home_container{
  font-size: 20px;
  width: 500px;
  margin-left: 140px;
  margin-right: 150px;
}
.home_container >button{
  margin-bottom: 20px;
}

.home_page{
  display:flex;
  margin-top: 100px;
  font-family: 'Ubuntu', sans-serif;
  /* font-weight: 11100; */
}

.registration{
  padding-right: 34%;
  padding-left: 34%;
  padding-top: 100px;
}

.list-group{
  margin-bottom: 15px !important;
}
.horizontal{
  display: flex;
  list-style: none;
}

.list-group-item{
  background-color: rgb(248, 248, 248) !important;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
    font-weight:500
}

.alignAll{
  display: flex !important;
}

.down{
  margin-left: 5px;
}
.edit, .delete {
  float: right;
  padding: 7px;
}
.edit{
  color: rgb(6, 151, 177);
}

.delete{
  color:rgb(167, 4, 4)
}

.spanColor{
  font-size: 22px;
  /* font-family: 'Vollkorn', serif; */
  font-family: 'Bebas Neue', cursive !important;
  font-weight: 500;
}

.addPopup {
	position: fixed;
	bottom: 32px;
	right: 32px;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 64px;
	height: 64px;
	border-radius: 999px;
	font-size: 28px;
	font-weight: 900;
  background-color: #bfd5fc !important;
	/* background-color: var(--primary);
	background-image: linear-gradient(to bottom right, var(--primary), var(--secondary)); */
	cursor: pointer;
}

.popup {
  font-family: 'Ubuntu', sans-serif;
  color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 60%;
	max-width: 400px;
	/* background-color: var(--light); */
	padding: 32px;
	border-radius: 16px;
  background-color: #3A3B3C;
	box-shadow: 4px 4px 4px;
  box-shadow:rgb(31, 34, 28);
}

.returnTo{
  text-decoration: none !important;
}
